@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

@font-face{
  font-family: 'TurretRoad';
  src: url('./statics/fonts/TurretRoad-Bold.ttf');
  src: url('./statics/fonts/TurretRoad-ExtraBold.ttf');
  src: url('./statics/fonts/TurretRoad-ExtraLight.ttf');
  src: url('./statics/fonts/TurretRoad-Light.ttf');
  src: url('./statics/fonts/TurretRoad-Medium.ttf');
  src: url('./statics/fonts/TurretRoad-Regular.ttf');
}

body {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
