@font-face{
  font-family: 'TurretRoad';
  src: url('./statics/fonts/TurretRoad-Bold.ttf');
  src: url('./statics/fonts/TurretRoad-ExtraBold.ttf');
  src: url('./statics/fonts/TurretRoad-ExtraLight.ttf');
  src: url('./statics/fonts/TurretRoad-Light.ttf');
  src: url('./statics/fonts/TurretRoad-Medium.ttf');
  src: url('./statics/fonts/TurretRoad-Regular.ttf');
}

@font-face {
  font-family: 'NotoSansCJKkr';
  src: url('./statics/fonts/NotoSansCJKkr-Regular.otf');
}

@font-face {
  font-family: 'NotoSansCJKkr-Light';
  src: url('./statics/fonts/NotoSansCJKkr-Light.otf');
}

@font-face {
  font-family: 'NotoSansCJKkr-Black';
  src: url('./statics/fonts/NotoSansCJKkr-Black.otf');
}

@font-face {
  font-family: 'NotoSansCJKkr-Medium';
  src: url('./statics/fonts/NotoSansCJKkr-Medium.otf');
}

@font-face {
  font-family: 'NotoSansCJKkr-Bold';
  src: url('./statics/fonts/NotoSansCJKkr-Bold.otf');
}

@font-face {
  font-family: 'NotoSansCJKkr-DemiLight';
  src: url('./statics/fonts/NotoSansCJKkr-DemiLight.otf');
}

body {
  margin: 0;
  width: 100%;
  height: 100vh;
  font-family: 'NotoSansCJKkr';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
